.clear-btn{
    display: flex;
    background-color:rgb(229, 230, 219);
    height: 40px;
    padding: 2em;
    justify-content: center;
    margin-top: -50px;
    margin-left: -15px;
    margin-right: -15px;
    align-items: center;
    color: black;
    font-size: 1em;  
    font-weight: bold;
    flex: 1;
    outline: 1px solid black;
}