.clear-btn{
    display: flex;
    background-color: white;
    padding: 10px;
    width: 250px;
   border-radius: 10px;
   justify-content: center;
   text-align: center;
   margin-top: -140px;
   margin-left: 130px;
   align-self: center; 
}