.input {
   display: flex;
   color: white;
   background-color: black;
   padding: 25px;
   width: 250px;
   border-radius: 15px;
   justify-content: flex-end;
   text-align: end;
   justify-items: end;
 }


