.page-wrapper{ 
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;

}


.input {
   display: flex;
   background-color: black;
   height: 4em;
   padding: 50px;
   margin-left: -10px;
   margin-right: -17px;
   justify-content: flex-end;
   align-items: flex-end;
   color: white;
   outline: 2px solid orange;
   text-align: right;
}

.button{
    display: flex;
    background-color: white;
    height: 40px;
    padding: 3em;
    justify-content: center;
    align-items: center;
    color: black; 
    font-size: 1em;  
    font-weight: bold;
    flex: 1;
}


#operators{
    background-color: orange;
    
}